body{
    background-color: #C69774;
}
a{
    text-decoration: none;
}
.header{
    height: 80px;
    width: 100%;
    background-color: #F8DFD4;
}
.menu{
    height: 30px;
    width: 100%;
    background-color: #FFEFE8;
}
.main{
    width: 100%;
}
.home{
    height: 100%;
    width: 70.73%;
    display: inline-block;
    background-color: #FFEFE8;
}
.sidebar{
    height: 100%;
    width: 29%;
    display: inline-block;
    background-color: #FFEFE8;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: #F8DFD4;
}
#imgLogo{
    max-height: 66px;
    max-width: 253px;
}
*{
    direction: rtl;
}
